<H2 style="font-style: italic;text-align: center;">Weclome to Kadapa International Airport</H2>  

<div id="demo" class="carousel slide" data-ride="carousel">

 
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
   
  </ul>

  <div class="carousel-inner">
  
    <div class="carousel-item active">
      <img src="./assets/airport2.jpg" alt="Airport2" width="1300" height="500">
    </div>
    <div class="carousel-item">
      <img src="./assets/airport.jpg" alt="Airport3" width="1300" height="500">
    </div>
  </div>


  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>