<h3 style="text-align: center;"> Welcome Admin</h3>
<br />
<div style="padding: 20px;" >
    <nav>
      <a routerLink="/adminHome/plane" class="btn btn-primary active" role="button" routerLinkActive="active">Planes</a>
      <a routerLink="/adminHome/hanger" class="btn btn-primary active" role="button" routerLinkActive="active">Hangers</a>
      <a routerLink="/adminHome/pilot" class="btn btn-primary active" role="button" routerLinkActive="active">Pilots</a>
    </nav> 
</div>
<router-outlet></router-outlet>