<div style="padding: 20px;" >
    <nav>
      <a routerLink="/adminApproval/managerApproval" class="btn btn-primary active" role="button" routerLinkActive="active">Manager Approval</a>
      <a routerLink="/adminApproval/pilotApproval" class="btn btn-primary active" role="button" routerLinkActive="active">Pilot Approval</a>
      <a routerLink="/adminApproval/hangerApproval" class="btn btn-primary active" role="button" routerLinkActive="active">Hanger Approval</a>
    </nav>
</div>
 <router-outlet></router-outlet>
