<!-- Interpolation – Display favorite movie 
<h4>Favourtite Movie:{{favouriteMovie}}</h4>
<br />
<br />
<br />

<app-employee> </app-employee> -->
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <ul class="nav nav-tabs">
          <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]={exact:true}><a routerLink="/">Home</a></li>
          <li role="presentation" routerLinkActive="active"><a routerLink="/view-emp">View Employee</a></li>
          <li role="presentation" routerLinkActive="active"><a routerLink="/edit-emp">Edit Employee</a></li>
          <li role="presentation" routerLinkActive="active"><a routerLink="/quantity-increment">Quantity Increment</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
          <router-outlet></router-outlet>
        </div>
      </div>