<h3 style="text-align: center;">Welcome Manager</h3>
<br />
<div style="padding: 20px;" >
    <nav>
      <a routerLink="/managerHome/plane" class="btn btn-primary active" role="button" routerLinkActive="active">planes</a>
      <a routerLink="/managerHome/pilot" class="btn btn-primary active" role="button" routerLinkActive="active">pilots</a>
      <a routerLink="/managerHome/hanger" class="btn btn-primary active" role="button" routerLinkActive="active">hangers</a>
    </nav>
</div>
 <router-outlet></router-outlet>
